<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PickMeal.PickMeal.mapper.FoodMapper">

    <resultMap id="FoodResultMap" type="PickMeal.PickMeal.domain.Food">
        <id property="foodId" column="foodId"/>
        <result property="foodName" column="foodName"/>
        <result property="category" column="category"/>
        <result property="description" column="description"/>
        <result property="imagePath" column="imagePath"/>
    </resultMap>

    <select id="getFoodInfo" resultMap="FoodResultMap">
        SELECT foodId, foodName, category, description, imagePath
        FROM food
    </select>

    <select id="getFilteredFoods" parameterType="PickMeal.PickMeal.dto.GameRequestDto" resultType="String">
        SELECT f.foodName
        FROM food f
        JOIN twenty_attribute t ON f.foodId = t.foodId
        <where>
            <if test="categoryKorean == 1"> AND f.category = 'Korean food' </if>
            <if test="categoryKorean == 0"> AND f.category != 'Korean food' </if>
            <if test="categoryWestern == 1"> AND f.category = 'Western food' </if>
            <if test="categoryWestern == 0"> AND f.category != 'Western food' </if>
            <if test="categoryChinese == 1"> AND f.category = 'Chinese food' </if>
            <if test="categoryChinese == 0"> AND f.category != 'Chinese food' </if>
            <if test="categoryJapanese == 1"> AND f.category = 'Japanese food' </if>
            <if test="categoryJapanese == 0"> AND f.category != 'Japanese food' </if>
            <if test="categoryAsian == 1"> AND f.category = 'Asian food' </if>
            <if test="categoryAsian == 0"> AND f.category != 'Asian food' </if>
            <if test="isSoup != null"> AND t.is_soup = #{isSoup} </if>
            <if test="isSpicy != null"> AND t.is_spicy = #{isSpicy} </if>
            <if test="isFried != null"> AND t.is_fried = #{isFried} </if>
            <if test="isRoasted != null"> AND t.is_roasted = #{isRoasted} </if>
            <if test="hasPork != null"> AND t.has_pork = #{hasPork} </if>
            <if test="hasBeef != null"> AND t.has_beef = #{hasBeef} </if>
            <if test="hasNoodle != null"> AND t.has_noodle = #{hasNoodle} </if>
            <if test="hasRice != null"> AND t.has_rice = #{hasRice} </if>
            <if test="hasFlour != null"> AND t.has_flour = #{hasFlour} </if>
            <if test="hasSeafood != null"> AND t.has_seafood = #{hasSeafood} </if>
            <if test="hasChicken != null"> AND t.has_chicken = #{hasChicken} </if>
            <if test="isVeggie != null"> AND t.is_veggie = #{isVeggie} </if>
            <if test="isCold != null"> AND t.is_cold = #{isCold} </if>
            <if test="isGreasy != null"> AND t.is_greasy = #{isGreasy} </if>
            <if test="isSweet != null"> AND t.is_sweet = #{isSweet} </if>
            <if test="isSolo != null"> AND t.is_solo = #{isSolo} </if>
            <if test="isSharing != null"> AND t.is_sharing = #{isSharing} </if>
            <if test="isHeavy != null"> AND t.is_heavy = #{isHeavy} </if>
        </where>
    </select>

    <select id="findImagePathByName" resultType="string">
        SELECT imagePath
        FROM food
        WHERE foodName = #{foodName}
    </select>

    <select id="findByName" resultMap="FoodResultMap">
        SELECT foodId, foodName, category, description, imagePath
        FROM food
        WHERE foodName = #{name}
    </select>

    <select id="getRandomFoodByCategory" resultMap="FoodResultMap">
        SELECT * FROM food
        <where>
            <if test="category != null and category != '전체'">
                AND category = #{category}
            </if>
        </where>
        ORDER BY RAND()
        LIMIT 1
    </select>

    <select id="getWinnerFoodList" resultType="PickMeal.PickMeal.domain.Food">
        SELECT
        f.foodId,
        f.foodName,
        f.category,
        f.imagePath,
        COUNT(g.gameId) as winCount  FROM food f
        JOIN game g ON f.foodId = g.food_id  WHERE DATE_FORMAT(g.playDate, '%Y-%m') = DATE_FORMAT(NOW(), '%Y-%m') GROUP BY f.foodId, f.foodName, f.category, f.imagePath
        ORDER BY winCount DESC
        LIMIT 10
    </select>

    <select id="getTopScoredFoods" resultType="String">
        SELECT f.foodName
        FROM food f
        JOIN twenty_attribute t ON f.foodId = t.foodId
        ORDER BY (
        0
        <if test="categoryKorean != null"> + CASE WHEN #{categoryKorean} = 1 AND f.category = 'Korean food' THEN 10 WHEN #{categoryKorean} = 0 AND f.category != 'Korean food' THEN 5 ELSE 0 END </if>
        <if test="categoryWestern != null"> + CASE WHEN #{categoryWestern} = 1 AND f.category = 'Western food' THEN 10 WHEN #{categoryWestern} = 0 AND f.category != 'Western food' THEN 5 ELSE 0 END </if>
        <if test="categoryChinese != null"> + CASE WHEN #{categoryChinese} = 1 AND f.category = 'Chinese food' THEN 10 WHEN #{categoryChinese} = 0 AND f.category != 'Chinese food' THEN 5 ELSE 0 END </if>
        <if test="categoryJapanese != null"> + CASE WHEN #{categoryJapanese} = 1 AND f.category = 'Japanese food' THEN 10 WHEN #{categoryJapanese} = 0 AND f.category != 'Japanese food' THEN 5 ELSE 0 END </if>
        <if test="categoryAsian != null"> + CASE WHEN #{categoryAsian} = 1 AND f.category = 'Asian food' THEN 10 WHEN #{categoryAsian} = 0 AND f.category != 'Asian food' THEN 5 ELSE 0 END </if>

        <if test="isSpicy != null"> + CASE WHEN t.is_spicy = #{isSpicy} THEN 10 ELSE 0 END </if>
        <if test="isSoup != null"> + CASE WHEN t.is_soup = #{isSoup} THEN 10 ELSE 0 END </if>
        <if test="isFried != null"> + CASE WHEN t.is_fried = #{isFried} THEN 10 ELSE 0 END </if>
        <if test="isRoasted != null"> + CASE WHEN t.is_roasted = #{isRoasted} THEN 10 ELSE 0 END </if>
        <if test="hasPork != null"> + CASE WHEN t.has_pork = #{hasPork} THEN 10 ELSE 0 END </if>
        <if test="hasBeef != null"> + CASE WHEN t.has_beef = #{hasBeef} THEN 10 ELSE 0 END </if>

        <if test="hasNoodle != null"> + CASE WHEN t.has_noodle = #{hasNoodle} THEN 10 ELSE 0 END </if>
        <if test="hasRice != null"> + CASE WHEN t.has_rice = #{hasRice} THEN 10 ELSE 0 END </if>
        <if test="hasFlour != null"> + CASE WHEN t.has_flour = #{hasFlour} THEN 10 ELSE 0 END </if>
        <if test="hasSeafood != null"> + CASE WHEN t.has_seafood = #{hasSeafood} THEN 10 ELSE 0 END </if>
        <if test="hasChicken != null"> + CASE WHEN t.has_chicken = #{hasChicken} THEN 10 ELSE 0 END </if>
        <if test="isVeggie != null"> + CASE WHEN t.is_veggie = #{isVeggie} THEN 10 ELSE 0 END </if>
        <if test="isCold != null"> + CASE WHEN t.is_cold = #{isCold} THEN 10 ELSE 0 END </if>
        <if test="isGreasy != null"> + CASE WHEN t.is_greasy = #{isGreasy} THEN 10 ELSE 0 END </if>
        <if test="isSweet != null"> + CASE WHEN t.is_sweet = #{isSweet} THEN 10 ELSE 0 END </if>
        <if test="isSolo != null"> + CASE WHEN t.is_solo = #{isSolo} THEN 10 ELSE 0 END </if>
        <if test="isSharing != null"> + CASE WHEN t.is_sharing = #{isSharing} THEN 10 ELSE 0 END </if>
        <if test="isHeavy != null"> + CASE WHEN t.is_heavy = #{isHeavy} THEN 10 ELSE 0 END </if>
        ) DESC
        LIMIT 3
    </select>

</mapper>