<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hankki.pickmeal.mapper.CommentMapper">
    <resultMap id="CommentResultMap" type="com.hankki.pickmeal.domain.Comment">
        <id property="comment_id" column="comment_id" />
        <result property="boardId" column="boardId" />
        <result property="user_id" column="user_id" /> <result property="content" column="content" />
        <result property="createCommentDate" column="createCommentDate" />
        <result property="updateCommentDate" column="updateCommentDate" />
        <result property="nickname" column="nickname" />
    </resultMap>
    <select id="getCommentsByBoardId" resultMap="CommentResultMap">
        SELECT c.*, u.nickname
        FROM comment c
        JOIN user u ON c.user_id = u.user_id
        WHERE c.boardId = #{boardId}
        ORDER BY c.createCommentDate ASC
    </select>
    <insert id="writeComment" parameterType="com.hankki.pickmeal.domain.Comment">
        INSERT INTO comment(boardId, user_id, content, createCommentDate)
        VALUES(#{boardId}, #{user_id}, #{content}, NOW())
    </insert>
    <delete id="deleteComment" parameterType="long">
            DELETE FROM comment
            WHERE comment_id = #{comment_id}
    </delete>
    <select id="getCommentByComment_id" parameterType="long" resultMap="CommentResultMap">
        SELECT comment_id, boardId, user_id, content, createCommentDate, updateCommentDate
        FROM comment
        WHERE comment_id = #{comment_id}
    </select>
    <update id="updateComment" parameterType="com.hankki.pickmeal.domain.Comment">
        UPDATE comment
        SET content = #{content}, updateCommentDate = now()
        WHERE comment_id = #{comment_id}
    </update>
</mapper>