<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hankki.pickmeal.mapper.HotSpotMapper">
    <insert id="addHotspot" parameterType="long">
        INSERT INTO hot_spot (res_id)
        VALUES (#{resId})
    </insert>
    <delete id="deleteHotspot" parameterType="long">
            DELETE FROM hot_spot
            WHERE res_id = #{resId}
    </delete>
    <select id="getHotSpotList" resultType="com.hankki.pickmeal.domain.HotSpot">
        SELECT
        hotspot_id as hotspotId,
        res_id as resId
        FROM hot_spot
    </select>
</mapper>